<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarbonChase - DashBoard</title>
    <style>
        /* Ensure that the body and html take full height and width */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        /* Iframe takes the full height and width */
        iframe {
            height: 100vh;
            border: none;
            margin-bottom: 0px;
        }
    </style>
</head>

<body>
    <iframe src="https://carbonchase-9mvbvl6aivhrqqn66iskpa.streamlit.app/?embed=true&embed_options=dark_theme"
        style="width: 100%;"></iframe>
</body>

</html>